fastapi==0.115.14
uvicorn[standard]
requests
sqlmodel
psycopg[binary]
langchain
langchain-community
langchain-openai
langchain-core
langchain-experimental
langchain-huggingface
langchain-ollama
langchain-ollama    